<div class="section">
        <div class="container">


            <div class="row main-low-margin">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                    <center><h1>About Tricia</h1>
                    <h5>Tricia is a sophomore at Mercer University majoring in Media Studies and Technical Communication. She was born in Greenville, SC but has lived for most of her life in Alpharetta, GA. Tricia joined her sister Tori (21) and Mercer. She is the daughter of Jim and Leah Surber.<br>
                        <br>
                        She has worked at Rita's Italian Ice and Nike and volunteered with her church. She currently works with the ESPN station located in Mercer Univeristy. Tricia's future work goals are to edit movies or television shows. 
                    </h5></center>
                </div>
            </div>


        </div>
    </div>


        <center>
        <img class="about" src="/img/annap.JPG" alt="Tricia in annapolis" />
        <img class="about" src="/img/danielle.JPG" alt="Tricia's with her friend" />
        <img class="about" src="/img/hannah.jpg" alt="Tricia sowboarding with a friend" />
        <img class="about" src="/img/espn.JPG" alt="Tricia working for ESPN" />
        <img class="about" src="/img/family.jpg" alt="Tricia with her family" />
        <img class="about" src="/img/steelers.jpg" alt="Tricia at a Steelers game" />
        <img class="about" src="/img/tori.jpg" alt="Tricia with her sister" />
        </center>

<!--
   <div class="row main-low-margin ">

            <div class="col-md-8 col-sm-8">
                <h3>Tricia's Favorties</h3>
                <p>
                    <ul>
                        <li>Favorite Sports Team: Pittsburgh Steelers</li>
                        <li>Favorite City: Pittsburgh</li>
                        <li>Favorite Color: Light Blue</li>
                        <li>Favorite TV Show: Scandal</li>
                        <li>Favorite Movie: Harry Potter</li>
                        <li>Favorite Book: Harry Potter & The Hunger Games</li>
                    </ul>
                </p>
                <p>
                    If you would like to know more about Tricia, feel free to use the contact box at the bottom of the page.
                </p>
            </div>
    </div>

-->