<div class="section">
        <div class="container">


            <div class="row main-low-margin">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                    <center><h1>Example Work </h1>
                    <h5>Tricia has done a variety of different types of work. She has created flyers and brochures for local businesses in Macon, created various multimedia pieces which include: videos, articles, and photographs. <br>
                        <br>
                        Some examples of her work are shown below.
                    </h5></center>
                </div>
            </div>


        </div>
    </div>

    <center><h5>Click on each example to see the full-size document or to play the video.</h5></center>

<div id="design-cast">   

      <div class="member"><center>
    <a href="https://www.youtube.com/watch?v=gksgR5E2SfE" alt="Investigative Piece on Littering in Macon"><img class="example_work" src="/img/example_work/littering.png" alt="Investigative Piece on Littering in Macon" /></a>
        <div class="name"><p class="describe"><center>Video produced about the littering issue in Macon</center></p></div></center>
    </div>
    
    <div class="member"><center>
    <a href="/img/example_work/monica.m4v" alt="Interview with Monica Fort"><img class="example_work" src="/img/example_work/monica.jpg" alt="Interview with Monica Fort" /></a>
        <div class="name"><p class="describe"><center>Video produced after an interview with Monica Fort</center></p></div></center>
    </div>
    
    <div class="member"><center>
    <a href="/img/example_work/howtovideo.m4v" alt="Video on How to Throw a Javelin"><img class="example_work" src="/img/example_work/howto.png" alt="Video on How to Throw a Javelin" /></a>
        <div class="name"><p class="describe"><center>Video produced on how to throw a javelin</center></p></div></center>
    </div>
    
    <div class="member"><center>
    <a href="/img/example_work/brochure.pdf" alt="Ocktoberfest Brochure"><img class="example_work" src="/img/example_work/brochure.jpg" alt="Ocktoberfest Brochure" /></a>
        <div class="name"><p class="describe">Brchure designed for a local event</p></div></center>
    </div>
    
    <div class="member"><center>
    <a href="/img/example_work/invitation.jpg" alt="Invitation for a Wedding Shower"><img class="example_work" src="/img/example_work/invitation.jpg" alt="Invitation for a Wedding Shower" /></a>
        <div class="name"><p class="describe"><center>Invitation designed for a wedding shower</center></p></div></center>
    </div>
    
    <div class="member"><center>
    <a href="/img/example_work/banner.pdf" alt="Bid Day banner for Chi Omega"><img class="example_work" src="/img/example_work/banner.jpg" alt="Bid Day banner for Chi Omega" /></a>
        <div class="name"><p class="describe"><center>Banner designed for Chi Omega Bid Day 2014</center></p></div></center>
    </div>
    
    <div class="member"><center>
    <a href="/img/example_work/cake.pdf" alt="Amanda's Cakery Flyer"><img class="example_work" src="/img/example_work/cakery_flyer.jpg" alt="Amanda's Cakery Flyer" style="left-align"/></a>
        <div class="name"><center><p class="describe">Flyer designed for a local cakery</p></center></div></center>
    </div>
    
    <div class="member"><center>
    <a href="/img/example_work/jordan.jpg" alt="Jordan in the training room"><img class="example_work" src="/img/example_work/jordan.jpg" alt="Jordan in the Training Room" /></a>
        <div class="name"><p class="describe"><center>Photograph taken for a piece on injured student-athlete rehabilitation</center></p></div></center>
    </div>
    
     <div class="member"><center>
    <a href="/img/example_work/jessica.jpg" alt="Jessica and Steven at Formal"><img class="example_work" src="/img/example_work/jessica.jpg" alt="Jessica and Steven at Formal" /></a>
        <div class="name"><p class="describe"><center>Photograph taken for a Alpha Delta Pi's Black Diamond Formal 2014</center></p></div></center>
    </div>

    
</div> 