<!-- SLIDER SECTION -->
    <div id="slides">
        <img src="/img/slider/images/wedding.jpg" alt="Tricia at a wedding" />
        <img src="/img/slider/images/teamjax.jpg" alt="Tricia's XC team" />
        <img src="/img/slider/images/senior.jpg" alt="Tricia and her teammates in HS" />
        <img src="/img/slider/images/annapolis.jpg" alt="Tricia in Annapolis" />

    </div>
    <!-- END SLIDER SECTION -->

    <h2><center>QUICK FACTS</center></h2>

    <div class="container">
        <div class="row main-low-margin text-center">
            <div class="col-md-4 col-sm-4">
                <div class="circle-body"><i class="fa fa-star fa-5x  icon-set"></i></div>
                <h3>MERCER TRACK & FIELD</h3>
                <p>
                    Tricia Surber is a member of the Mercer University Track & Field team. This season, she is training to run the 1500m and the 800m.
                </p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="circle-body"><i class="fa fa-dollar fa-5x  icon-set"></i></div>
                <h3>WORK EXPERIENCE</h3>
                <p>
                    Tricia has held three different jobs. She was the assistant manager at Rita's Italian Ice in Alpharetta, worked at the Nike Factory Outlet in Dawsonville, and currently works with the ESPN station on Mercer Univeristy's campus.
                </p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="circle-body"><i class="fa fa-heart fa-5x  icon-set"></i></div>
                <h3>HOBBIES AND INTERESTS</h3>
                <p>
                    In her free time, Tricia enjoys working out and hanging out with friends. She also enjoys traveling and seeing new places. 
                </p>
            </div>

        </div>
        